#Java, #Swift, #Ruby, #other {
  display: none;
}

body {
  background-color: aquamarine;
  font-family: 'Segoe UI';
}

.jumbotron {
  font-weight: bold;
  font-family: 'Segoe UI';
  background-color: grey;
}

.card {
  background-color: grey;
  border: 2px black;
  font-family: 'Seqoe UI';
  margin:10px;
  font-size: larger;
}

.btn {
  background-color: grey;
  color: black;
  padding:10px;
  font-weight:bold;
  text-align:center;
  margin:10px;
}
.btn:hover {
  background-color: hotpink;
}

.row {
  margin:10px;
  text-align: center;
  font-size: large;
}

.card img {
  width: 150px;
  height: auto;
  float:left;
  margin: 15px;

}